.section {
  margin-top: 20px;
}

.section__title {
  margin-bottom: 10px;
}

.image {
  height: 200px;
  width: 200px;
  background-color: var(--main-card-bg-color);
}

.section__ctn {
  margin-top: 15px;
  margin-bottom: 20px;
}
